@page "/accounts"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using AuthAPI.Models
@using AuthAPI.Data
@implements IAsyncDisposable
@inject IDbContextFactory<AuthAPI.Data.AuthAPIContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="accounts/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Account">
    <PropertyColumn Property="account => account.TokenID" />
    <PropertyColumn Property="account => account.AddressID" />
    <PropertyColumn Property="account => account.RoleID" />
    <PropertyColumn Property="account => account.Username" />
    <PropertyColumn Property="account => account.Password" />
    <PropertyColumn Property="account => account.Email" />
    <PropertyColumn Property="account => account.FirstName" />
    <PropertyColumn Property="account => account.LastName" />
    <PropertyColumn Property="account => account.Created" />
    <PropertyColumn Property="account => account.Verified" />

    <TemplateColumn Context="account">
        <a href="@($"accounts/edit?id={account.Id}")">Edit</a> |
        <a href="@($"accounts/details?id={account.Id}")">Details</a> |
        <a href="@($"accounts/delete?id={account.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AuthAPIContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
