USE [master]
GO
/****** Object:  Database [AML]    Script Date: 06/11/2024 15:40:39 ******/
CREATE DATABASE [AML]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AML', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AML.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AML_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AML_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AML].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AML]
GO
/****** Object:  User [inventoryAPI]    Script Date: 06/11/2024 15:40:39 ******/
CREATE USER [inventoryAPI] FOR LOGIN [inventoryAPI] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [inventoryAPI]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [inventoryAPI]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 06/11/2024 15:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CityID] [int] NOT NULL,
	[FirstLine] [varchar](max) NOT NULL,
	[SecondLine] [varchar](max) NOT NULL,
	[PostCode] [varchar](7) NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 06/11/2024 15:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AddressID] [int] NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[Opened] [datetime] NOT NULL,
 CONSTRAINT [PK_Branch] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 06/11/2024 15:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Media]    Script Date: 06/11/2024 15:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Media](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BranchID] [int] NOT NULL,
	[Title] [varchar](max) NOT NULL,
	[Released] [datetime] NOT NULL,
	[Author] [varchar](max) NOT NULL,
	[Type] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Media] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MediaTransfer]    Script Date: 06/11/2024 15:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediaTransfer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MediaID] [int] NOT NULL,
	[OriginBranchID] [int] NOT NULL,
	[DestinationBranchID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Approved] [datetime] NULL,
	[Created] [datetime] NOT NULL,
	[Completed] [datetime] NULL,
 CONSTRAINT [PK_MediaTransfer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 06/11/2024 15:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Token]    Script Date: 06/11/2024 15:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Token](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Value] [varchar](max) NOT NULL,
	[Created] [datetime] NOT NULL,
 CONSTRAINT [PK_Token] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 06/11/2024 15:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TokenID] [int] NULL,
	[AddressID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[Username] [varchar](max) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[Email] [varchar](max) NOT NULL,
	[FirstName] [varchar](max) NOT NULL,
	[LastName] [varchar](max) NOT NULL,
	[Created] [datetime] NOT NULL,
	[Verified] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([ID], [CityID], [FirstLine], [SecondLine], [PostCode]) VALUES (1, 1, N'121 Arundel Street', N'', N'S12NT')
INSERT [dbo].[Address] ([ID], [CityID], [FirstLine], [SecondLine], [PostCode]) VALUES (3, 1, N'112 Devonshire Street', N'', N'S37SF')
INSERT [dbo].[Address] ([ID], [CityID], [FirstLine], [SecondLine], [PostCode]) VALUES (4, 2, N'9 Savoy Way', N'', N'WC2R0BP')
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[Branch] ON 

INSERT [dbo].[Branch] ([ID], [AddressID], [Name], [Opened]) VALUES (1, 1, N'Hallam Library', CAST(N'2024-10-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Branch] ([ID], [AddressID], [Name], [Opened]) VALUES (3, 1, N'Devonshire Park Library', CAST(N'2024-09-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Branch] ([ID], [AddressID], [Name], [Opened]) VALUES (4, 4, N'The Savoy Centre', CAST(N'2024-11-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Branch] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([ID], [Name]) VALUES (1, N'Sheffield')
INSERT [dbo].[City] ([ID], [Name]) VALUES (2, N'London')
INSERT [dbo].[City] ([ID], [Name]) VALUES (3, N'Durham')
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Media] ON 

INSERT [dbo].[Media] ([ID], [BranchID], [Title], [Released], [Author], [Type]) VALUES (2, 1, N'Catching Fire (Hunger Games, Book Two)', CAST(N'2009-09-01T00:00:00.000' AS DateTime), N'Suzanne Collins', N'book')
INSERT [dbo].[Media] ([ID], [BranchID], [Title], [Released], [Author], [Type]) VALUES (3, 1, N'The Hunger Games: Catching Fire', CAST(N'2013-11-21T00:00:00.000' AS DateTime), N'Francis Lawrence', N'film')
INSERT [dbo].[Media] ([ID], [BranchID], [Title], [Released], [Author], [Type]) VALUES (5, 3, N'Staying on', CAST(N'1977-01-01T00:00:00.000' AS DateTime), N'Paul Scott', N'book')
SET IDENTITY_INSERT [dbo].[Media] OFF
GO
SET IDENTITY_INSERT [dbo].[MediaTransfer] ON 

INSERT [dbo].[MediaTransfer] ([ID], [MediaID], [OriginBranchID], [DestinationBranchID], [UserID], [Approved], [Created], [Completed]) VALUES (1, 5, 3, 1, 1, NULL, CAST(N'2024-11-06T15:23:28.160' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[MediaTransfer] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [Name]) VALUES (1, N'Member')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (2, N'Manager')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (3, N'Librarian')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Token] ON 

INSERT [dbo].[Token] ([ID], [UserID], [Value], [Created]) VALUES (1, 1, N'111111111111111', CAST(N'2024-11-04T18:13:26.890' AS DateTime))
INSERT [dbo].[Token] ([ID], [UserID], [Value], [Created]) VALUES (6, 4, N'222222222222222', CAST(N'2024-11-04T18:14:13.940' AS DateTime))
INSERT [dbo].[Token] ([ID], [UserID], [Value], [Created]) VALUES (7, 5, N'555555555555555', CAST(N'2024-11-04T18:14:20.340' AS DateTime))
SET IDENTITY_INSERT [dbo].[Token] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [TokenID], [AddressID], [RoleID], [Username], [Password], [Email], [FirstName], [LastName], [Created], [Verified]) VALUES (1, 1, 1, 2, N'samsam', N'samsam', N'sam@sam.co.uk', N'Sam', N'Sam', CAST(N'2024-11-04T18:09:57.527' AS DateTime), 1)
INSERT [dbo].[User] ([ID], [TokenID], [AddressID], [RoleID], [Username], [Password], [Email], [FirstName], [LastName], [Created], [Verified]) VALUES (4, 6, 3, 2, N'jeffjeff', N'jeffjeff', N'jeff@jeff.co.uk', N'Jeff', N'Jeff', CAST(N'2024-11-01T18:12:00.000' AS DateTime), 1)
INSERT [dbo].[User] ([ID], [TokenID], [AddressID], [RoleID], [Username], [Password], [Email], [FirstName], [LastName], [Created], [Verified]) VALUES (5, 7, 4, 2, N'bobbob', N'bobbob', N'bob@bob.co.uk', N'Bob', N'Bob', CAST(N'2024-11-04T18:12:49.237' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Address] ADD  CONSTRAINT [DF_Address_SecondLine]  DEFAULT ('') FOR [SecondLine]
GO
ALTER TABLE [dbo].[Branch] ADD  CONSTRAINT [DF_Branch_Opened]  DEFAULT (getdate()) FOR [Opened]
GO
ALTER TABLE [dbo].[MediaTransfer] ADD  CONSTRAINT [DF_MediaTransfer_Created]  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[Token] ADD  CONSTRAINT [DF_Token_Created]  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Created]  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Verified]  DEFAULT ((0)) FOR [Verified]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_City] FOREIGN KEY([CityID])
REFERENCES [dbo].[City] ([ID])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_City]
GO
ALTER TABLE [dbo].[Branch]  WITH CHECK ADD  CONSTRAINT [FK_Branch_Address] FOREIGN KEY([AddressID])
REFERENCES [dbo].[Address] ([ID])
GO
ALTER TABLE [dbo].[Branch] CHECK CONSTRAINT [FK_Branch_Address]
GO
ALTER TABLE [dbo].[Media]  WITH CHECK ADD  CONSTRAINT [FK_Media_Branch] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branch] ([ID])
GO
ALTER TABLE [dbo].[Media] CHECK CONSTRAINT [FK_Media_Branch]
GO
ALTER TABLE [dbo].[MediaTransfer]  WITH CHECK ADD  CONSTRAINT [FK_MediaTransfer_Branch] FOREIGN KEY([OriginBranchID])
REFERENCES [dbo].[Branch] ([ID])
GO
ALTER TABLE [dbo].[MediaTransfer] CHECK CONSTRAINT [FK_MediaTransfer_Branch]
GO
ALTER TABLE [dbo].[MediaTransfer]  WITH CHECK ADD  CONSTRAINT [FK_MediaTransfer_Branch1] FOREIGN KEY([DestinationBranchID])
REFERENCES [dbo].[Branch] ([ID])
GO
ALTER TABLE [dbo].[MediaTransfer] CHECK CONSTRAINT [FK_MediaTransfer_Branch1]
GO
ALTER TABLE [dbo].[MediaTransfer]  WITH CHECK ADD  CONSTRAINT [FK_MediaTransfer_Media] FOREIGN KEY([MediaID])
REFERENCES [dbo].[Media] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MediaTransfer] CHECK CONSTRAINT [FK_MediaTransfer_Media]
GO
ALTER TABLE [dbo].[MediaTransfer]  WITH CHECK ADD  CONSTRAINT [FK_MediaTransfer_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[MediaTransfer] CHECK CONSTRAINT [FK_MediaTransfer_User]
GO
ALTER TABLE [dbo].[Token]  WITH CHECK ADD  CONSTRAINT [FK_Token_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Token] CHECK CONSTRAINT [FK_Token_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Address] FOREIGN KEY([AddressID])
REFERENCES [dbo].[Address] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Address]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[User]  WITH NOCHECK ADD  CONSTRAINT [FK_User_Token] FOREIGN KEY([TokenID])
REFERENCES [dbo].[Token] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Token]
GO
USE [master]
GO
