@page "/"

@using AMLWebAplication.Services
@using Microsoft.AspNetCore.Authorization
@inject APIAuthenticationService AuthenticationStateProvider

@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Advanced Library Management System</h1>

<AuthorizeView>
    <Authorized>
        <p>Welcome to AML, @context.User.Identity?.Name!</p>
    </Authorized>
    <NotAuthorized>
        <p>Welcome to AML, guest</p>
    </NotAuthorized>
</AuthorizeView>
